
/* ----------------------------------

Book overall style

----------------------------------*/

._book {
	font: 12pt/1.4 'Benton Modern', sans-serif;
	text-rendering: optimizeLegibility;
}

._book p {
	position: relative;
	z-index: 1;
}

._book-content .sidematter {
	position: absolute;
	top: 1in;
	left: 0.5in;
	-webkit-transform: rotate(90deg);
	-webkit-transform-origin: top left;
	color: red;
	display: none;
}

._book-content .url{
/*  font-size: 10pt;
  color: red;
  -webkit-transform: rotate(90deg);
  font-family: Messenger Mono;
  display: inline-block;
  width: 4pt;*/
  color: transparent;
  -webkit-text-stroke: 0.5px magenta;
  opacity: 0.5;
	position: absolute;
	left: 0;
	/*font-family: Verdana;
	font-weight: bold;*/
	font-size: 4em;
	line-height: 100%;
	width: 100%;
	word-break: break-word;
	z-index: -1;
}

._book-content a{
  color: blue;
  text-decoration: underline;
}

/* ----------------------------------

Title page

----------------------------------*/

.title-page h1 {
	font-size: 6em;
	font-family: Benton Modern;
}

.category-name {
	font-size: 3em;
	font-family: "Benton Modern";
	text-transform: uppercase;
	-webkit-transform: rotate(90deg);
	line-height: 5in;
}

[data-page-kind="section-page"] .page-inner {
	background: black;
	color: white;
}

/* ----------------------------------

Table of contents

----------------------------------*/

.toc-heading {
	font-size: 2em;
}

.toc-title {
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-size: 0.8em;
}

.toc-item {
	position: relative;
	padding-right: 0.4in;
	margin-bottom: 1em;
}

.toc h4 {
	margin: 0;
	font-size: 1rem;
}

.toc-author {
	color: green;
}

.toc-pg {
	position: absolute;
	right: 0;
	top: 0;
}

/* ----------------------------------

Interview print styles

----------------------------------*/

.interview-name, .project-name {
	font-size: 8em;
	font-family: "Benton Modern";
	line-height: 110%;
}

.interview-q:before,
.interview-a:before {
	content: "XX";
	font-size: 10pt;
  	margin-right: 2ch;
	/* font-family: "Benton Modern"; */
}

.interview-a {
	margin: 0; text-indent: 1.5pc; margin-right: 1pc;
}
.interview-q {
	margin-left: 1.5pc; padding-left: 1.5pc; margin-right: 0; padding-right: 0;
}
.interview-a, .interview-q {
	font-size: 12pt;
	margin: 0;
}

.interview-q {
	color: rgb(0, 112, 255);
}

.interview-intro,
.interview-conclusion {
	font-style: italic;
	font-family: "Benton Modern";
	position: relative;
	z-index: 1;
}

blockquote{
  color: red;
  font-family: "Messenger Mono"; display: none;
  /*
  margin-left:  -0.5pc;
  margin-right:  3pc;
  margin-top:    1.5pc;
  margin-bottom: 1.5pc;
  font-size: 2em;*/
}

.interview-matter{
  margin-top: 1pc;
  margin-bottom: 1pc;
}


/* ----------------------------------

Page size and paginalia

----------------------------------*/

.page-outer {
	height: 6.88in;
	width: 4.25in;
	position: relative;
    page-break-after: always;
    margin: auto;
    /*display: none;*/
}

@page {
	height: 7.13in;
	width:  4.5in;
	/*width: 3.5in;*/
	margin: 0.25in;
}

.page-inner {
	position: absolute;
	margin:   auto;
	bottom:   -0.125in;
	top:      -0.125in;
	left:     -0.125in;
	right:    -0.125in;
	overflow: hidden;
	padding:  0.5in 0.6in 1in;
}


._running-head ._section,
._running-head ._book-name {
	position: absolute;
	text-transform: uppercase;
	font-family: "Benton Modern";
	letter-spacing: 0.3em;
	font-size: 0.55em;
}

._running-head ._section {
	bottom: 0in;
	width: 6.4in;
	font-family: Scout;
}

._running-head ._book-name {
	bottom: 0.6in;
}

._running-head ._pagenum {
	position: absolute;
	bottom: 30%;
	font-family: Scout;
	font-weight: bold;
}

._recto ._running-head ._pagenum {
	right: 0.12in;
}
._verso ._running-head ._pagenum {
	left: 0.12in;
}

.page-inner._bleed {
	padding: 0;
}

._verso ._running-head ._section {
	text-align: right;
}

._recto ._running-head ._section,
._recto ._running-head ._book-name {
	-webkit-transform-origin: top right;
	-webkit-transform: rotate(90deg);
	-moz-transform-origin: top right;
	-moz-transform: rotate(90deg);
	right: 0.13in;
}

._verso ._running-head ._section,
._verso ._running-head ._book-name  {
	-webkit-transform-origin: top left;
	-webkit-transform: rotate(-90deg);
	-moz-transform-origin: top left;
	-moz-transform: rotate(-90deg);
	left: 0.13in;
}


/* ----------------------------------

Footnotes

----------------------------------*/

.page-outer > footnotes{
  position: absolute;
  bottom: 0.35in;
  font-family: Messenger Mono;
  font-size: 0.5rem;
}
.page-outer._recto > footnotes{
  right: 0.5in;
  text-align: right;
}
.page-outer._verso > footnotes{
  left: 0.5in;
  text-align: left;
}

/* ----------------------------------

Book image spreads

----------------------------------*/

._book-content img {
	display: block;
	width: 100%;
}

/**/
._book-spread-l,
._book-spread-r {
	height: 5in;
	overflow: hidden;
	width: 100%;
	position: relative;
	outline: 1px solid red;
	break-after: region;
	box-sizing: content-box;
}


._bleed [data-fullbleed],
._bleed [data-fullbleed] {
	height: 7.05in;
	/*margin: -0.5em -0.5in;
	padding: 0.5em 0.5in;*/
}


._book-spread-l figcaption {
	position: absolute;
	background: white;
	bottom: 1in;
	left: 1in;
	font-size: 10pt;
}

._book-spread-l > img,
._book-spread-r > img {
	position: absolute;
	display: block;
	outline: 1px solid orange;
	top: 0;
	width: 193%;
	/* less than 200% to account for bleed and spine */
}

._book-spread-l {
	/* padding-right: 0.5in; */
}

._book-spread-r {
	/* padding-left: 0.5in;
	margin-left: -0.5in; */
	/* 'Undo' the inside margin */
}

._book-spread-l img {
	left: 0;
}

._book-spread-r img {
	right: 0;
	text-align: right;
}
