/* ----------------------------------

CSS Region flow (used by the polyfill)

----------------------------------*/


._book .content-source {
    flow-into: content-flow contents;
}

._book .content-region {
    flow-from: content-flow;
    region-fragment: break;
}

/* ----------------------------------

Book overall style

----------------------------------*/

._book {
	font-size: 10pt;
}


/* ----------------------------------

Page size and paginalia

----------------------------------*/

.page-outer {
	height: 8.25in;
	width: 6in;
	position: relative;
    page-break-after: always;
    margin: auto;
}

.page-inner {
	position: absolute;
	margin: auto;
	bottom: -0.2in;
	top: -0.2in;
	left: -0.2in;
	right: -0.2in;
	overflow: hidden;
	padding: 0.4in 0.6in 0.7in;
}


.page-outer > footer {
	font-size: 2em;
	position: absolute;
	text-align: center;
	margin: auto;
	bottom: 2in;
	z-index: 999;
}

.page-outer > header {
	position: absolute;
	bottom: 4in;
	text-align: right;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	font-family: Messenger Mono;
	font-size: 0.8rem;
}

.page-outer:nth-child(odd) > header {
	-webkit-transform-origin: top left;
	-webkit-transform: rotate(90deg);
	left: 0.3in;
}

.page-outer:nth-child(even) > header {
	-webkit-transform-origin: top right;
	-webkit-transform: rotate(-90deg);
	right: 0.3in;
}


.page-outer:nth-child(odd) > footer {
	left: 0.15in;
}
.page-outer:nth-child(even) > footer {
	right: 0.15in;
}

.page-outer:nth-child(17) > .page-inner,
.page-outer:nth-child(18) > .page-inner {
	padding: 0;
	background: black;
}

/*._book img {
	width: 100%;
}*/

._book iframe {
	width: 8.5in;
	height: 11in;
	margin: 0 -1in;
}

/* ----------------------------------

Book image spreads

----------------------------------*/


._book-spread._fullbleed {
	outline: 1px solid lime;
}

._book-spread-l,
._book-spread-r {
	height: 7.5in;
	overflow: hidden;
	width: 100%;
	position: relative;
	outline: 1px solid lime;
	break-after: region;
	box-sizing: content-box;
}


._fullbleed ._book-spread-l,
._fullbleed ._book-spread-r {
	height: 9in;
	/*margin: -0.5em -0.5in;
	padding: 0.5em 0.5in;*/
}


._book-spread figcaption {
	position: absolute;
	background: white;
	bottom: 0;
	font-size: 10pt;
}

._book-spread-l > img,
._book-spread-r > img {
	position: absolute;
	display: block;
	outline: 1px solid orange;
	top: 0;
	width: 198%;
	/* less than 200% to account for bleed and spine */
}

._book-spread-l {
	/* padding-right: 0.5in; */
}

._book-spread-r {
	/* padding-left: 0.5in;
	margin-left: -0.5in; */
	/* 'Undo' the inside margin */
}

._book-spread-l img {
	left: 0;
}

._book-spread-r img {
	right: 0;
	text-align: right;
}


/* ----------------------------------

For previewing the print

----------------------------------*/

.print-nav {
	display: none;
}

@media screen {
	._book body {
		max-width: none;
		background: #eee
	}

	.page-outer {
		background: white;
		display: inline-block;
	    margin: 100px;
	    box-shadow: 0px 2px 3px rgba(0,0,0,0.1);
	    outline: 1px solid rgba(0,0,0,0.1)
	}

	/* bleed line */
	._guides .page-inner {
		outline: 1px solid cyan;
	}

	/* margin line */
	._guides .page-outer::after {
		content: "";
		border: 1px dotted cyan;
		position: absolute;
		display: block;
		bottom: 0.5in;
		top: 0.2in;
		left: 0.4in;
		right: 0.4in;
	}

	/* page line */
	._guides .page-outer::before {
		content: "";
		border: 1px solid magenta;
		position: absolute;
		display: block;
		bottom: 0in;
		top: 0in;
		left: 0in;
		right: 0in;
		z-index: 999;
	}

	.page-outer[data-page='1'] {
		display: block;
		margin: 1rem auto;
	}

	.print-nav {
		position: fixed;
		bottom: 0;
		right: 0;
		left: 0;
		background: white;
		display: block;
		z-index: 999;
		padding: 15px;
		border-top: 1px solid gray;
	}

}


/* ----------------------------------

Faked print styles

----------------------------------*/


._book ._page-break {
	display: block;
	border: 1px solid red;
	break-after: region;
	margin-bottom: 6in;
	opacity: 0.1;
}

._book ._page-break:after {
	content: "Force a page break!";
	position: absolute;
	color: red;
}


/* ----------------------------------

"Actual" print styles

----------------------------------*/

@media print {
	body, html {
		margin: 0;
		padding: 0;
	}

	.page-outer {
		margin-top: 0.2in;
		outline: 1px solid black;
	}
}
/*
@page {
	margin: 0;
	width: 8.5in;
	height: 11in;
}


@page :left{
	margin-left: 1in;
}

@page :right{
	margin-right: 1in;
}

*/