
/* ----------------------------------

Book overall style

----------------------------------*/

._book {
	font: 10pt/1.4 'Messenger Text', sans-serif;
}

._book-content .sidematter {
	position: absolute;
	top: 1in;
	left: 0.5in;
	-webkit-transform: rotate(90deg);
	-webkit-transform-origin: top left;
	color: red;
}

._book-content .url{
  font-size: 10pt;
  color: red;
  -webkit-transform: rotate(90deg);

  font-family: Messenger Mono;
  display: inline-block;
  width: 4pt;
}

._book-content a{
  color: black;
}

/* ----------------------------------

Title page

----------------------------------*/

.title-page h1 {
	font-size: 6em;
	font-family: Benton Modern;
}

.category-name {
	font-size: 3em;
	text-transform: uppercase;
}


/* ----------------------------------

Interview print styles

----------------------------------*/

.interview-q:before {font-size: 10pt;}
.interview-a:before {font-size: 10pt;}

.interview-a {
	margin: 0; text-indent: 2pc;
}
.interview-q {
	margin-left: 2pc; padding-left: 2pc; margin-right: 1pc; 
}
.interview-a, .interview-q {
	font-size: 12pt; margin: 0;
}

.interview-q {
	color: blue;
}

blockquote{
  margin-left: -0.5pc;
  /*margin-right: 3pc;*/
  color: red;
  font-family: "Messenger Text";
  margin-top: 1.5pc;
  margin-bottom: 1.5pc;
  font-size: 2em;
}

.interview-matter{
  margin-top: 1pc;
  margin-bottom: 1pc;
}


/* ----------------------------------

Page size and paginalia

----------------------------------*/

.page-outer {
	height: 6.88in;
	width: 4.25in;
	position: relative;
    page-break-after: always;
    margin: auto;
    /*display: none;*/
}

.page-inner {
	position: absolute;
	margin:   auto;
	bottom:   -0.125in;
	top:      -0.125in;
	left:     -0.125in;
	right:    -0.125in;
	overflow: hidden;
	padding:  0.8in 0.5in 0.7in;
}

/* Running head */
.page-outer > footer {
	position: absolute;
	margin: auto;
	top: 0.2in;
	z-index: 100;
}

/* page numbers */
.page-outer > header {
	position: absolute;
	top: 0.2in;
	text-align: right;
}

.page-outer:nth-child(odd) > footer {
	right: 0.4in;
}

.page-outer:nth-child(even) > footer {
	left: 0.4in;
}

.page-inner._bleed {
	padding: 0;
}


.page-outer:nth-child(odd) > header {
	/*-webkit-transform-origin: top left;
	-webkit-transform: rotate(90deg);*/
	right: 0.9in;
}

.page-outer:nth-child(even) > header {
	/*-webkit-transform-origin: top right;
	-webkit-transform: rotate(-90deg);*/
	left: 0.9in;
}


/* ----------------------------------

Footnotes

----------------------------------*/

.page-outer > footnotes{
  position: absolute;
  bottom: 0.35in;
  font-family: Messenger Mono;
  font-size: 0.5rem;
}
.page-outer:nth-child(odd) > footnotes{
  right: 0.5in;
  text-align: right;
}
.page-outer:nth-child(even) > footnotes{
  left: 0.5in;
  text-align: left;
}

/* ----------------------------------

Book image spreads

----------------------------------*/

._book-content img {
	display: block;
	width: 100%;
}

/**/
._book-spread-l,
._book-spread-r {
	height: 5in;
	overflow: hidden;
	width: 100%;
	position: relative;
	outline: 1px solid red;
	break-after: region;
	box-sizing: content-box;
}


._bleed-enabled ._book-spread-l._fullbleed ,
._bleed-enabled ._book-spread-r._fullbleed {
	height: 7.05in;
	/*margin: -0.5em -0.5in;
	padding: 0.5em 0.5in;*/
}


._book-spread-l figcaption {
	position: absolute;
	background: white;
	bottom: 1in;
	left: 1in;
	font-size: 10pt;
}

._book-spread-l > img,
._book-spread-r > img {
	position: absolute;
	display: block;
	outline: 1px solid orange;
	top: 0;
	width: 193%;
	/* less than 200% to account for bleed and spine */
}

._book-spread-l {
	/* padding-right: 0.5in; */
}

._book-spread-r {
	/* padding-left: 0.5in;
	margin-left: -0.5in; */
	/* 'Undo' the inside margin */
}

._book-spread-l img {
	left: 0;
}

._book-spread-r img {
	right: 0;
	text-align: right;
}
