/* ----------------------------------

Generic base styles and resets

----------------------------------*/

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font: inherit;
	margin: 0;
	padding: 0;

}

html {
	font: 20px/1.4 Messenger Text, sans-serif;
	text-rendering: optimizeLegibility
}

body {
	margin:    0 auto;
	padding:   1.4rem;
	/* max-width: 900px; */
}

sup{
  font-size: 0.5rem;
  font-family: "Messenger Mono";
}

footnote{
  display: none;
}

a {
	text-decoration: none;
	color: blue;
}

h1 {
	margin-bottom: 1.4rem;
  font-weight: normal;

}

h2, h3, h4 {
	margin-bottom: 1.4rem;
	font-size:     1.5rem;
  font-weight: normal;
}

p {
	margin-bottom: 1.4rem
}

ol {
	margin-left: 1.4rem
}

em {
	font-style: italic;
}

strong{
  font-weight: bold;
}

blockquote {
	margin-left: 1.4rem;
	color: gray;
}

figcaption{
  text-style: italic;

}

.printy{}
.noprinty{}

/* ----------------------------------

Styles for the index/toc page

----------------------------------*/

.cat-name {
	text-transform: uppercase;
	font-size:      1rem;
}


.item {
	padding: 0.2rem 0.2rem;
}

.print-btn {
	padding: 0.8rem 2rem;
	border: 1px solid black;
	text-align: center;
	color: black;
}

.print-btn:hover {
	background: black;
	color: white;
  cursor: pointer;
}

.posts {
  margin-bottom: 2rem;
}

/* Above this is old styling, below this is new */

#print_button_link{
  text-decoration: none;
  /* border: 2px solid blue; */
  background: white;
  text-align: center;
  color: blue;
  z-index: 2;
  position: fixed;
  top: 15px;
  left: 15px;
  width: 300px;
  display: inline-block;
  padding: 30px 0px;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}
#print_button_link:hover{
  background: blue;
  color: white;
  cursor: pointer;
}

.site-title {
  padding: 10px 0px;
  color: blue;
  text-align: center;
}


[data-togglee] {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s;
}

#nav_box{
	top: 100px;
  left: 0px;
	width: 300px;
  /*was 400px*/
	max-height: 90%;
  /* bottom: 10px; */
	padding:25px;
	margin:15px;
	display:inline-block;
	position:fixed;
	background-color: white;
	/*border: 2px solid black;*/
	box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
	overflow-y:auto;
  /*font-size: 14px;*/
  z-index: 3;
  font-family: "Messenger Text", sans-serif;
}
#nav_box .top{
  /* text-align: center; */
  text-transform: uppercase;
  /*font-weight: bold;*/
  padding: 10px;
  font: 20px/1.4 "Messenger Text", sans-serif;
}
#nav_box .green{
  color: green;
}

#nav_box .nav_link:hover{
  cursor: pointer;
}

#nav_box a.interview:before{
  /*content: "❝ ";*/
}

#content{
  /*was 320px*/
  left: 0px;
  width: 100%;
  overflow-y:auto;
  /*padding-left: 30%;*/
  position: absolute;
  z-index: 1;
  overflow-x: hidden;
}

#content h1 {
  left: 20%;
}

.category{
  margin-top: 100px;
  font-family: "Messenger Text", sans-serif;
  font-size: 30px;
  line-height: 30px;
  margin-top: 150px;
  left: 20%;
  max-width: none;
  clear:both;
}


/* copied from book-ui.css ... uh oh */

  .print-nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: block;
    z-index: 999;
    padding: 15px;
    background: white;
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
  }


.pagey{
  width: 100%;
}

.pagey .caption{
  width: 60%;
  text-align: left;
  background-color: blue;
  color: white;
  display: inline-block;
  position: relative;
  top: -200px;
  left: 300px;
  font-family: "Messenger Text", sans-serif;
  padding: 6px;
  border: 1px solid blue;
}

.pagey h3 {
  font-size: 20px;
  margin-top: 10px;
  margin-left: 31%;
}

.pagey .name{
  /* width: 100%; */
  text-align: left;
  color: black;
  display: inline-block;
  font-size: 60px;
  line-height: 110%;
  font-weight: bold;
  xwhite-space: nowrap;
  position: relative;
  font-family: "Benton Modern", serif;
  padding: 10px;
  left: 20%;
}

.pagey .name span {
  font-family: "Messenger Text", sans-serif;
  font-size: 20px;
  color: black;
}

.pagey .name:hover{
  color: blue;
  background-color: transparent;
}
.pagey .caption:hover{
  color: transparent;
  background-color: transparent;
}

.output {
  display: block;
  float: left;
  width: 25%;
  height: 350px;
  background-position: center;
  background-size: 100%;
  font-size: 20px;
  padding: 5px;
  color: rgba(0,0,0,0);
  -webkit-transition: all 1s;
} .output:hover {
  background: blue;
  color: white;
  opacity: .8;
  cursor: pointer;
}

.code {
  display: block;
  float: left;
  width: 25%;
  margin: 2%;
  padding: 10px;
  color: black;
} .code h2 {
  font-family: "Benton Modern";
  font-size: 40px;
  font-weight: bold;
  line-height: 110%;
} .code div {
  width: 100%;
  height: 300px;
  background-size: 100%;
  background-position: center;
} code:hover {
  cursor: pointer;
}

#intro {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 75%;
  min-height: 150vh;
} #intro h2, #intro h1, #intro p, #intro h4 {
  margin-left: 20%;
  max-width: 100%;
} #intro h1 {
  font-family: "Benton Modern", serif;
  font-size: 80px;
  line-height: 80px;
} #intro h2 {
  font-family: "Benton Modern", serif;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 50px;
} #intro p {
  font-size: 18px;
  line-height: 150%;
  font-family: "Messenger Text", sans-serif;
  margin-top: 50px;
  margin-bottom: 50px;
} #intro h4 {
  font-family: "Messenger Text", sans-serif;
  font-size: 20px;
  line-height: 30px;
}

.cls {
  position: fixed;
  width: 0;
  top: 100px;
  left: 100px;
  border-top: 105px solid blue;
  border-left: 90px solid transparent;
  border-right: 100px solid transparent;
  /* -webkit-transform: skew(50deg, 10deg); */
  -webkit-transition: all 1s;
  z-index: -1;

}

@media (max-height: 1000px) {
  .cls {
    top: 700px;
    left: 1000px;
    -webkit-transform: skew(5deg, 150deg);
  }
}

@media (max-height: 800px) {
  .cls {
    top: 700px;
    left: 100px;
    -webkit-transform: skew(120deg, 150deg);
  }
}

@media (max-width: 1000px) {
  .cls {
    top: initial;
    left: initial;
    bottom: 15px;
    right: 100px;
    -webkit-transform: skew(12deg, 50deg);
  }
}


/* ----------------------------------

Styles for an individual page

----------------------------------*/

.meta {
	color: rgba(0, 255, 0, 1);
	margin-bottom: 1.4rem;
}

.meta p {
	margin: 0;
}


/* ----------------------------------

Note:

Most print styles are in print.css
@font-face are in /type/type.css

----------------------------------*/

@media screen {
	.newpage {
		display: none;
	}
}

/* ----------------------------------

Interview Styles

separated into print and web
----------------------------------*/

.interview-name, .project-name {
  font-family: "Benton Modern";
  font-style: normal;
  font-weight: bold;
  font-size: 3.5pc;
  line-height: 110%;
}

.interview-name{
  color: rgba(0,255,0,1);
}

hr {
  clear: both;
  width: 150px;
  border: 0;
  border-bottom: 12px solid black;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 20%;
}

hr.dg2 {
  border-bottom: 6px solid black;
}

hr.dg3 {
  border-bottom: 2px solid black;
}

.interview-bar{
  border-bottom: 5pt solid rgba(0,255,0,1);
}

.interview-intro{
	margin-bottom: 18px;
}

.interview-q:before { content: ''; font-family: "Messenger Mono";}
.interview-a:before { content: ''; font-family: "Messenger Mono";}

.interview-a {}
.interview-q {}
.interview-a, .interview-q { font-family: "Benton Modern";}

/*//////////Phil messing around////////////*/



