/* ----------------------------------

Generic base styles and resets

----------------------------------*/

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font: inherit;
	margin: 0;
	padding: 0;

}

html {
	font: 20px/1.4 Messenger Text, sans-serif;
	text-rendering: optimizeLegibility
}

body {
	margin:    0 auto;
	padding:   1.4rem;
	/* max-width: 900px; */
}

sup{
  font-size: 0.5rem;
  font-family: "Messenger Mono";
}

footnote{
  display: none;
}

a {
	text-decoration: none;
	color: blue;
}

h1 {
	margin-bottom: 1.4rem;
	line-height: 1.2;
}

h2, h3, h4 {
	margin-bottom: 1.4rem;
	font-size:     1.5rem;
}

/*
hr {
  border: 0;
  border-bottom: 1px solid #ddd;
  margin-bottom: 1.4rem;
} */

p {
	margin-bottom: 1.4rem
}

ol {
	margin-left: 1.4rem
}

em {
	font-style: italic;
}

strong{
  font-weight: bold;
}

code {
	font:       0.8rem/1.4 Messenger Mono, monospace;
	background: #ffffbb;
	display: inline-block;
}

blockquote {
	margin-left: 1.4rem;
	color: gray;
}

hr {
	border: 0;
	border-bottom: 1px solid #ddd;
	margin-bottom: 1.4rem;
}

.printy{}
.noprinty{}

/* ----------------------------------

Styles for the index/toc page

----------------------------------*/

nav {
	position: relative;
}

.cat-name {
	text-transform: uppercase;
	font-size:      1rem;
}


.item {
	padding: 0.2rem 0.2rem;
}

.print-btn {
	padding: 0.8rem 2rem;
	border: 1px solid black;
	text-align: center;
	color: black;
}

.print-btn:hover {
	background: black;
	color: white;
}

.posts {
  margin-bottom: 2rem;
}

/* Above this is old styling, below this is new */

#print_button_link{
  text-decoration: none;
  border: 2px solid blue;
  text-align: center;
  color: blue;
  z-index: 2;
  position: fixed;
  top: 15px;
  left: 15px;
  width: 300px;
  display: inline-block;
  padding: 50px 0px;
}
#print_button_link:hover{
  background: blue;
  color: white;
}

#nav_box{
	top: 150px;
  left: 0px;
	width: 300px;
	max-height: 400px;
	padding:25px;
	margin:15px;
	display:inline-block;
	position:fixed;
	background-color: white;
	border: 2px solid black;
	box-shadow: 15px 15px 15px rgba(0,0,0,0.25);
	overflow-y:auto;
  font-size: 14px;
  z-index: 3;
  font-family: "Benton Modern", serif;
}
#nav_box .top{
  text-align: center;
  text-transform: uppercase;
  padding: 30px;
  font: 20px/1.4 "Messenger-Text", sans-serif;
}

#content{
  top: -320px;
  left: 0px;
  width: 100%;
  padding-left: 30%;
  position: absolute;
  z-index: 1;
  overflow-x: hidden;
}

#content .caption{
  width: 60%;
  text-align: left;
  background-color: blue;
  color: white;
  display: inline-block;
  position: relative;
  top: -200px;
  left: 300px;
  font-family: "Benton Modern",serif;
  padding: 6px;
}

#content .name{
  width: 100%;
  text-align: left;
  background-color: blue;
  color: white;
  display: inline-block;
  font-size: 100px;
  xwhite-space: nowrap;
  position: relative;
  top: 350px;
  border: 1px solid blue;
  font-family: "Benton Modern", serif;
  padding: 20px;
}
#content .name:hover{
  color: transparent;
  background-color: transparent;
}
#content .caption:hover{
  color: transparent;
  background-color: transparent;
}

#content img{
  width: 100%;
}


/* ----------------------------------

Styles for an individual page

----------------------------------*/

.meta {
	color: rgba(0, 255, 0, 1);
	margin-bottom: 1.4rem;
}

.meta p {
	margin: 0;
}


/* ----------------------------------

Note:

Most print styles are in print.css
@font-face are in /type/type.css

----------------------------------*/

@media screen {
	.newpage {
		display: none;
	}
}

/* ----------------------------------

Interview Styles

separated into print and web
----------------------------------*/

.interview-intro{
	margin-bottom: 18px;
}

.interview-q:before { content: ''; color: rgba(0, 255, 0, 1); font-family: "Messenger Mono";}
.interview-a:before { content: ''; color: rgba(0, 255, 0, 1); font-family: "Messenger Mono";}

.interview-a {}
.interview-q {}
.interview-a, .interview-q { line-height: 125%; font-family: "Benton Modern";}

/*//////////Phil messing around////////////*/

/* ----------------------------------

Standalone Page "HTML Output" banner Styles

----------------------------------*/


#output_banner{
  width: 100%;
  background: white;
  position: fixed;
  left: 0;
  top: 0;
  box-shadow: 0pt 1pt 1pt black;
  z-index: 4;
  border-top: 1pt black solid;
  border-bottom: 1pt black solid;
  font: 20px/1.4 Messenger Text, sans-serif;
  padding: 5pt;
}
#output_banner a{
  text-decoration: none;
  color: blue;
}


