/* ----------------------------------

Web overall style

----------------------------------*/

.printy{
  display: none;
}
.noprinty{
  display: visible;
}

/* ----------------------------------

Interview Styles

----------------------------------*/
q { background-color: gold;}
del { text-decoration:line-through; color: grey;}
mark { font-style: normal; background: rgba(0, 255, 0, .1);}
s { color: grey;}
img{
  margin-left: -20px;
  margin-top: 20px;
  margin-bottom: 20px;
}


.interview-q:before { font-size: 15px; }
.interview-a:before { font-size: 15px; }

.interview-a { margin: 0; text-indent: 20px;  }
.interview-q { margin-left: 20px; padding-left: 20px; margin-right: 10px; }
.interview-a, .interview-q { font-size: 20px; margin: 0 0 30px 0; }

blockquote{
  margin-left: -20px;
  margin-right: 30px;
  color: red;
  font-family: "Messenger Mono";
  margin-top: 20px;
  margin-bottom: 20px;
}
