---
layout: default
title: HTML Output
---


<nav>
  <h1>{{ page.title }}</h1>
</nav>

<div class="categories">
  {% for category in site.types %}

    <h2 class="cat-name">{{ category }}</h2>
    <div class="posts">
      {% for page in site.pages %}{% if page.category == category %}

          <div class="item">
            <a href="{{ page.url }}"><h2>{{ page.title }}</h2></a>
            <figure>
            {% if page.thumb %}
              <img src="img/{{post.thumb}}">
            {% endif %}
            </figure>
          </div>

          <div class="newpage"></div>

        {% endif %}{% endfor %}
    </div>
  {% endfor %}

</div>

