---
layout: book_pages
title: HTML Output
---



<!--
____________________________________________________

This is the generated global stylesheet for the book.
Any dynamic content that is part of a stylesheet should end up here.
Do not include stylesheets within a post that aren't correctly
namespaced. If you aren't sure what namespacing is
just ask Evan!

-->
<style>
  {% for page in site.pages %}{% if page.category == 'interview' %}
  	[data-page-kind="{{page.interviewee}}"] .interview-a:before {
  		content: '{{ page.interviewee_initials }}';
  	}
  	[data-page-kind="{{page.interviewee}}"] .interview-q:before {
  		content: '{{ page.interviewer_initials }}';
  	}
  {% endif %}{% endfor %}
</style>


<!--
____________________________________________________

Blank Page
-->
<div class="_page-break"></div>


<!--
____________________________________________________

Blank Page
-->
<div class="_page-break"></div>


<!--
____________________________________________________

Title Page
-->
<div class="title-page">
  <h1>{{ page.title }}</h1>
</div>
<div class="_page-break"></div>


<!--
____________________________________________________

Front Matter, maybe?
-->
<div class="title-page">
  <p>This is a book we made</p>
</div>
<div class="_page-break"></div>


<!--
____________________________________________________

Table of Contents
-->
<h1 class="toc-heading">Contents</h1>

<div class="toc">

{% for page in site.pages %}
  {% if page.printready %}
    <div class="toc-item">
      {% if page.category == 'interview' %}
        <h4>{{ page.interviewee }} talks to {{ page.interviewer }}</h4>
      	<div class="toc-pg" data-toc="{{ page.interviewee }}">
          <input type="checkbox" checked="false" />
        </div>
      {% else %}
        <h4>
        	{{ page.title }}
        	— <span class="toc-author">{{ page.author }}</span>
        </h4>
      	<div class="toc-pg" data-toc="{{ page.title }}">
          <input type="checkbox" checked="false" />
        </div>
      {% endif %}
    </div>
  {% endif %}
{% endfor %}
</div>

<div class="_page-break"></div>
<div class="_page-break"></div>

<!--
____________________________________________________

Test textspread
-->
<!--<figure class="_sideways-page" data-textspread data-fullbleed>
  <h1>
    Jurg Lehni
    talks to
    Daniel
    Giudetta
    and Phil
    Cao
  </h1>
</figure> -->

<!--<figure class="_sideways-page" data-textspread data-fullbleed>
  <h1>
    Jurg Lehni
    talks to
    Daniel
    Giudetta
    and Phil
    Cao
  </h1>
</figure>-->
<div class="_page-break"></div>


<!--
____________________________________________________

All Content
-->



{% for category in site.types %}


{% comment %}
<!-- Category Page -->
<h1 class="category-name"
	data-change-page-kind="section-page"
  data-id="{{ category }}">
	 test {{ category }}
</h1>
<div class="_page-break"></div>
{% endcomment %}

<!-- Content Page -->

{% for page in site.pages %}
{% if page.category == category %}
{% if page.printready %}

{% if category == 'interview' %}
    <!--
  <h1 class="post-name interview-name"
      data-change-running-head
      data-category="{{ page.category }}"
      data-interviewee="{{ page.interviewee }}"
      data-interviewer="{{ page.interviewer }}"
      data-id="{{ page.interviewee }}">
        {{ page.interviewee }}
  </h1>
  <h3>talks to {{ page.interviewer }}</h3>
-->

<h1 class="interview-name"
    data-change-running-head
    data-change-page-kind
    data-category="{{ page.category }}"
    data-interviewee="{{ page.interviewee }}"
    data-interviewer="{{ page.interviewer }}"
    data-id="{{ page.interviewee }}">
    {{ page.title }}
</h1>
<hr />

<h1 class="interview-name">{{ page.interviewee }}</h1>
<hr />
<h1 class="interview-name">{{ page.interviewer }}</h1>

<div class="_page-break"></div>

{% else %}

  <h1 class="project-name"
      data-change-running-head
      data-change-page-kind
      data-category="{{ page.category }}"
      data-id="{{ page.title }}">
        {{ page.title }}
  </h1>
<hr />
  <h1 class="project-name">{{ page.author }}</h1>

<div class="_page-break"></div>
{% endif %}

  {{ page.content }}

<div class="_page-break"></div>
{% endif %}
{% endif %}
{% endfor %}

{% endfor %}

