---
layout: book_pages
title: HTML Output
---



<!--
____________________________________________________

This is the generated global stylesheet for the book.
Any dynamic content that is part of a stylesheet should end up here.
Do not include stylesheets within a post that aren't correctly
namespaced. If you aren't sure what namespacing is
just ask Evan!

-->
<style>
  {% for page in site.pages %}{% if page.category == 'interview' %}
  	[data-page-kind="{{page.interviewee}}"] .interview-a:before {
  		content: '{{ page.interviewee_initials }}';
  		margin-right: 2ch;
  	}
  	[data-page-kind="{{page.interviewee}}"] .interview-q:before {
  		content: '{{ page.interviewer_initials }}';
  		margin-right: 2ch;
  	}
  {% endif %}{% endfor %}
</style>


<!--
____________________________________________________

Blank Page
-->
<div class="_page-break"></div>


<!--
____________________________________________________

Blank Page
-->
<div class="_page-break"></div>


<!--
____________________________________________________

Title Page
-->
<div class="title-page">
  <h1>{{ page.title }}</h1>
</div>
<div class="_page-break"></div>


<!--
____________________________________________________

Front Matter, maybe?
-->
<div class="title-page">
  <p>This is a book we made</p>
</div>
<div class="_page-break"></div>


<!--
____________________________________________________

Table of Contents
-->
<h1 class="toc-heading">Contents</h1>

{% for category in site.types %}
<div class="toc">
  <h3 class="toc-title">{{ category }}</h3>

  {% for page in site.pages %}
  {% if page.category == category %}
  {% if page.printready %}
    <div class="toc-item">
      {% if category == 'interview' %}
        <h4>{{ page.interviewee }} talks to {{ page.interviewer }}</h4>
      {% else %}
        <h4>
        	{{ page.title }}
        	— <span class="toc-author">{{ page.author }}</span>
        </h4>
      {% endif %}
      <div class="toc-pg">12</div>
    </div>
  {% endif %}
  {% endif %}
  {% endfor %}
</div>
{% endfor %}

<div class="_page-break"></div>



<!--
____________________________________________________

All Content
-->



{% for category in site.types %}

<!-- Category Page -->

<h1 class="category-name">{{ category }}</h1>
<div class="_page-break"></div>


<!-- Content Page -->

{% for page in site.pages %}
{% if page.category == category %}
{% if page.printready %}

{% if category == 'interview' %}
  <h1 class="post-name interview-name"
      data-change-running-head
      data-category="{{ page.category }}"
      data-interviewee="{{ page.interviewee }}"
      data-interviewer="{{ page.interviewer }}">
        {{ page.interviewee }}
  </h1>
  <h3>talks to {{ page.interviewer }}</h3>

  <div class="_page-break"></div>


{% else %}
  <h1 class="post-name project-name"
      data-change-running-head
      data-category="{{ page.category }}">
        {{ page.title }}
  </h1>
  <h3 class="post-author">{{ page.author }}</h3>
{% endif %}

<div class="sidematter">(Side matter for '{{ page.title }}')</div>

  {{ page.content }}

<div class="_page-break"></div>
{% endif %}
{% endif %}
{% endfor %}

{% endfor %}


<!-- End Matter

<div class="_page-break"></div>
<div class="end">

    <h2>Endnotes</h2>
    <script>
        var num_links = $("a").length;

        for(i=0; i<num_links; i++){

            var url = $("a").eq(i).attr("href");

            document.write("<span class='endnote'>["+i+"] "+url+"</span><br />");

        }
    </script>


</div> -->
