---
layout: toc
title: for / with / in
---
 
<!--
<a href="{{ site.baseurl }}/book" id="print_button_link">
        &#8984; Book
</a>

<div id="nav_box">
    <div class="site-title" data-toggler>☰ HTML OUTPUT</div>
    <div class="toglee" data-togglee>
            <hr />
        {% for category in site.types %}
        <div class="top">{{ category }}:</div>
        <hr />
            {% for page in site.pages %}{% if page.category == category %}
                {% if category == 'interview' %}
                    <!--<strong><a class="nav_link {{category}}" name="{{page.url}}">{{page.title}}</a><br /></strong>
                    {{ page.interviewee }} &#8212; {{ page.interviewer }}<br /> -->
        <!--
        <a class="nav_link {{category}}" name="{{page.url}}">{{ page.interviewee }} talks to {{ page.interviewer }}</a><br />
                {% else %}
                    <a class="nav_link {{category}}" name="{{ page.url }}">{{page.title}}</a><br />
                    {{ page.author }}<br />
                {% endif %}

                {% endif %}
            {% endfor %}
        <hr />
        {% endfor %}
    </div>
</div> -->


<div class="one cls"></div>
<div class="two cls"></div>
<div class="three cls"></div>

<div id="index">

    <h1 class="category">Conversations</h1>
    <hr class="green">
    {% for page in site.pages %}
    {% if page.category == 'interview' %}
    <div class="toc-int">
        <a class="name" id="{{ page.url }}" href="{{ site.baseurl }}{{ page.url }}">{{page.interviewee}} <span class="nobreak">talks with {{page.author}}</span></a><br />
    </div>
    <hr class='dg2'>
    {% endif %}{% endfor %}


    <h1 class="category">Output</h1>
    <hr class="green">
    <div style="display: inline-block; -webkit-transition: all 1s;">
        <div class="toc-container">
            {% for page in site.pages %}{% if page.category == 'project' %}
            <a class="toc-out" href="{{ site.baseurl }}{{ page.url }}">
                <div><span>{{page.author}}</span></div>
                <img src="{{ site.baseurl }}{{ page.url }}hero.png">
            </a>
            {% endif %}{% endfor %}
        </div>
    </div>


    <h1 class="category">Code</h1>
    <hr class="green">
    <div style="display: inline-block;">
        <div class="toc-container">
            {% for page in site.pages %}{% if page.category == 'code' %}
            <a class="toc-code" href="{{ site.baseurl }}{{ page.url }}">
                <img src="{{ site.baseurl }}{{ page.url }}icon.png">
                <h2>{{page.title}}</h2>
                <p>{{page.author}}</p>
                 </a>
                {% endif %}{% endfor %}
        </div>
    </div>

    <h1 class="category">Credits</h1>
    <hr>
            {% for page in site.pages %}{% if page.category == 'credits' %}
              <div class="toc-block">
               {{page.content}}
                </div>
                {% endif %}{% endfor %}
</div>

