---
layout: print
title: HTML Output
---


<nav>
  <h1>{{ page.title }}</h1>
  <div class="newpage"></div>
</nav>

<div class="content">
  {% for category in site.types %}

    <div>
      <h2 class="cat-name">{{ category }}</h2>
      <div class="newpage"></div>

      {% for page in site.pages %}{% if page.category == category %}
          <div class="item">
            {% if category == 'interview' %}
              <a href="{{ page.url }}">{{ page.title }}</a> talks to {{ page.author }}
            {% else %}
              <a href="{{ page.url }}">{{ page.title }}</a>
              <div class="author">{{ page.author }}</div>
            {% endif %}

            {{ page.content }}
          </div>
          <div class="newpage"></div>

        {% endif %}{% endfor %}
    </div>
  {% endfor %}

</div>

