* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font: inherit;
}

html {
	font: 16px/1.4 sans-serif;
}

a {
	text-decoration: none;
	color: blue
}

h1, h2, h3, h4 {
	font-weight: bold
}