    <div class="toc-block" id="intro">
        <!-- <h1>Made in the Browser</h1> -->

        <hr></hr>

            <p>Live type, data-awareness, animation and user-interaction, are just a few of the reasons why the browser has become a satisfying place to generate graphic design &mdash; both experienced in the browser and not. 

            This  <span class="noprinty">website</span> <span class="printy">book</span> is meant to expand the notion of the browser as viewport for content to include that of general purpose design tool. The series of experiments and interviews herein aims to understand better how the browser can contribute to how we make design &mdash; within the browser and offbrowser.

            A responsive project both in its construction (designed and developed by 12 people on GitHub) and how it can be consumed. The website and book are both designed and rendered in the browser. The book prioritizes reading and documentation, the website foregrounds its ability to update, animation and links to source code. 
        </p>

        <hr></hr>


    </div>