    <div id="intro">
        <h1>Save Webpage as...</h1>

        <hr></hr>

        <p>
            This website <span class="printy">book</span> collects three months of conversations with practicing designers and experimental projects that use the web browser to create off-browser forms: event ephemera, wallpaper and textiles, videos and this book. The book that in fact comes from this very website. A "responsive" website that at any point in its development could output to a LuLu-printable pdf. The book prioritizing reading and documentation, the website foregrounding its ability to update, many more images and links to live code downloads. 
        <p>

        <hr></hr>

        <h2>edited by John Caserta</h2>
        <h4>featuring work by Evan Brooks, Ojus Doshi, Kelly Walters, Christina Webb, Christina Rees, Lukas WinklerPrins, Dan Giuditta, Phil Cao, Catherine Leigh Schmidt, and Michael McDermott</h4>
    </div>