    <div class="toc-block" id="intro">
        <!-- <h1>Made in the Browser</h1> -->

        <hr class="green dg2">

            <p class="mainintro">Live type, data-awareness, animation and user interaction are just a few of the reasons why the web browser has become a satisfying place to generate graphic design &mdash; both experienced in and outside the browser. 

            This collection of formal experiments and conversations explore the role of the browser as another possible tool for designers. The website and print-on-demand pocket-sized book are made from the same content, the book treated as one size within a multi-width design logic. The book prioritizes reading and documentation, the website is easy to access and friendly on all devices (until it breaks).  <a href="about-intro/" class="noprinty">Read introduction</a>
        </p>

		<hr class="green">

    </div>