    
 <div class="more">
    <hr>
    <h2 class="category morespace">More Code</h2>
        <div class="toc-container">
            {% for page in site.pages %}{% if page.category == 'code' %}
            <a class="toc-code" href="{{ site.baseurl }}{{ page.url }}">
                <img src="{{ site.baseurl }}{{ page.url }}icon.png">
                <h2>{{page.title}}</h2>
                <p>{{page.description}}</p>
                <hr class="dg2" style="margin:auto; margin-top: 25px;">
                 </a>
                {% endif %}{% endfor %}
        </div>
</div>