<nav class="print-nav">
    <!--Functions (danger!):
    <div style="float: right">
        <button class="toggle-btn" id="restyle">Refresh CSS</button>
        <button class="toggle-btn" id="trimpages">Trim extra pages from end</button>
        <button class="toggle-btn" id="fixbleeds">Full bleed fix</button>
        <button class="toggle-btn" id="postproc">Post-process</button>
    </div> -->
    <a href="{{ site.baseurl }}/" class="big">for / with / in</a>
 
  <!--  <span style="margin-right: 1em">
        <select>
            <option value="Home">Home</option>
            <option value="Conversations">Conversations</option>
            <option value="Output">Output</option>
            <option value="Code">Code</option>
            <option value="About">About</option>
        </select>
    </span> -->

    <span id="postProcessControls" style="display: none;">
        <label><input id="toggleguides" type="checkbox" checked />Show bleed</label> &nbsp;&nbsp;&nbsp;
        <label><input id="togglecrop" type="checkbox" /> Crop marks</label>
        <span id="status" style="display:inline; margin-left: 1em; color: blue;">
        <!--<img style="width:16px; height: 16px; margin: -4px 5px; vertical-align: middle" src="http://www.animatedgif.net/bookscalendars/anim0019-1_e0.gif"/> -->
            Making book...
        </span>
        <progress id="progbar" value="0" max="1"></progress>
    </span>
   <a href="/book"><button class="toggle-btn" id="regionize">Make book</button></a>
    <a href="http://www.lulu.com/shop/john-caserta/for-with-in/paperback/product-21805446.html"><button class="toggle-btn">Order book</button></a>

  </nav>