/*

    Name:       Loop Dark
    Author:     Evan Brooks (brooks.io)

    Color scheme with unique variable colors
    (See Coding in Color)

*/

/*.cm-s-base16-light.CodeMirror {background: #f5f5f5; color: #202020;}
.cm-s-base16-light div.CodeMirror-selected {background: #e0e0e0 !important;}
.cm-s-base16-light .CodeMirror-gutters {background: #f5f5f5; border-right: 0px;}
.cm-s-base16-light .CodeMirror-linenumber {color: #b0b0b0;}
.cm-s-base16-light .CodeMirror-cursor {border-left: 1px solid #505050 !important;}

.cm-s-base16-light span.cm-comment {color: #8f5536;}
.cm-s-base16-light span.cm-atom {color: #aa759f;}
.cm-s-base16-light span.cm-number {color: #aa759f;}

.cm-s-base16-light span.cm-property, .cm-s-base16-light span.cm-attribute {color: #90a959;}
.cm-s-base16-light span.cm-keyword {color: #ac4142;}
.cm-s-base16-light span.cm-string {color: #f4bf75;}

.cm-s-base16-light span.cm-variable {color: #90a959;}
.cm-s-base16-light span.cm-variable-2 {color: #6a9fb5;}
.cm-s-base16-light span.cm-def {color: #d28445;}
.cm-s-base16-light span.cm-bracket {color: #202020;}
.cm-s-base16-light span.cm-tag {color: #ac4142;}
.cm-s-base16-light span.cm-link {color: #aa759f;}
.cm-s-base16-light span.cm-error {background: #ac4142; color: #505050;}

.cm-s-base16-light .CodeMirror-activeline-background {background: #DDDCDC !important;}
.cm-s-base16-light .CodeMirror-matchingbracket { text-decoration: underline; color: white !important;}
*/

.cm-s-loop-dark .CodeMirror-activeline-background {
  background: #2f353f;
}


.cm-s-loop-dark.CodeMirror {
	color: #999; //#747A8B;
	font: 14px/1.3 "Consolas";
	background: #222;
}

.cm-s-loop-dark .cm-keyword {
  // color: #535353;
}

.cm-s-loop-dark .cm-kw-special {
  font-style: italic;
}

.cm-s-loop-dark .cm-atom {
  color: #76B4EC;
  color: #86B16E;
  font-weight: bold;
}
.cm-s-loop-dark .cm-number {
  color: #76B4EC;
  color: #86B16E;
  font-weight: bold;
}
.cm-s-loop-dark .cm-def {
  color: blue;
  font-weight: bold;
}
.cm-s-loop-dark .cm-variable {
  color: blue;
  font-weight: bold;
}
.cm-s-loop-dark .cm-variable-2 {
  color: blue;
  font-weight: bold;
}
.cm-s-loop-dark .cm-variable-3 {
  color: blue;
  font-weight: bold;
}
.cm-s-loop-dark .cm-property {
  color: #999 !important;
}
.cm-s-loop-dark .cm-operator {
  color: #999;
}
.cm-s-loop-dark .cm-comment {
  color: #585858;
  font-family: "National";
  font-weight: 300;
  letter-spacing: 0.02em;
}
.cm-s-loop-dark .cm-string {
  color: #76B4EC;
  color: #86B16E;
}

/* REGEX */
.cm-s-loop-dark .cm-string-2 {
	color: #6E5EE4;
}

.cm-s-loop-dark .cm-meta {color: #555;}
.cm-s-loop-dark .cm-qualifier {color: #555;}
.cm-s-loop-dark .cm-builtin {color: #30a;}
.cm-s-loop-dark .cm-bracket {color: red;}
.cm-s-loop-dark .cm-tag {
	color: #8a99aa;
	font-weight: bold;
}
.cm-s-loop-dark .cm-attribute {
	color: gray;
}
.cm-s-loop-dark .cm-header {color: blue;}
.cm-s-loop-dark .cm-quote {color: #090;}
.cm-s-loop-dark .cm-hr {color: #999;}
.cm-s-loop-dark .cm-link {color: #00c;}

