body, html {
	margin: 0;
	padding: 0;
}

.letter-main {
	position: absolute !important;
	top: 130px;
	left: 130px;
	right: 130px;
	bottom: 130px;
	background-color: white;
	font-family: 'Frank', tahoma, sans-serif;
	line-height: 1.5em;
	font-size: 1.5em;
	z-index: 10;
	overflow-y: scroll;
	padding:70px;
}

.footer {
	border-top: 1px solid black;
}

.letter-margins {
	position: absolute !important;
	background-color: black;
	
	top:0;
	left:0;
	bottom:0;
	right:0;

	overflow: hidden;
}

span {
	position: absolute !important;
	font-family: "Gotham", "Helvetica", sans-serif;
}

textarea {
	width: 100%;
	font-size: 24px;
	font-family: 'Helvetica', arial, sans-serif;
	line-height: 1.6em;
	padding: 10px;
}