---
layout: toc
title: HTML OUTPUT
---

<a href="{{ site.baseurl }}/book" id="print_button_link">
        &#8984; P
</a>

<div id="nav_box">
    <div class="top">HTML OUTPUT</div>

    {% for category in site.types %}
    <div class="top">{{ category }}:</div>

    {% for page in site.pages %}{% if page.category == category %}
        {% if category == 'interview' %}
            <strong><span class="{{category}}">{{page.title}}</span><br /></strong>
            {{ page.interviewee }} &#8212; {{ page.interviewer }}<br />
        {% else %}
            <strong><span class="{{category}}">{{page.title}}</span><br /></strong>
            by {{ page.author }}<br />
        {% endif %}

    {% endif %}{% endfor %}

    <br /><br />

    {% endfor %}
</div>

<div id="content">

    {% for category in site.types %}
    {% for page in site.pages %}{% if page.category == category %}
    <div class="pagey">
        <a href="{{ site.baseurl }}{{ page.url }}">{{page.title}}</a><br />
        <img src="{{ site.baseurl }}{{ page.url }}/hero.png" />
    </div>

    {% endif %}{% endfor %}
    {% endfor %}

</div>
