---
layout: toc
title: HTML OUTPUT
---

<a href="{{ site.baseurl }}/book" id="print_button_link">
        &#8984; P
</a>

<div id="nav_box">
    <div class="top">HTML OUTPUT</div>

    {% for category in site.types %}
    <div class="top">{{ category }}:</div>

    {% for page in site.pages %}{% if page.category == category %}
        {% if category == 'interview' %}
            <strong><a class="nav_link {{category}}" name="{{page.url}}">{{page.title}}</a><br /></strong>
            {{ page.interviewee }} &#8212; {{ page.interviewer }}<br />
        {% else %}
            <strong><a class="nav_link {{category}}" name="{{ page.url }}">{{page.title}}</a><br /></strong>
            {{ page.author }}<br />
        {% endif %}

    {% endif %}{% endfor %}

    {% endfor %}
</div>

<div id="content">

    {% for category in site.types %}
    {% for page in site.pages %}{% if page.category == category %}
    <div class="pagey">
        <a class="name" id="{{ page.url }}" href="{{ site.baseurl }}{{ page.url }}">{{page.title}}</a><br />
        <img src="{{ site.baseurl }}{{ page.url }}hero.png" />
        <!-- Below was the caption on the hero image. Is it necessary? -->
        <!-- <span class="caption">{{ page.description }}</span> -->
    </div>
    {% endif %}{% endfor %}
    {% endfor %}

</div>
