---
layout: toc
title: HTML OUTPUT
---

<a href="{{ site.baseurl }}/book" id="print_button_link">
        &#8984; P
</a>

<div id="nav_box">
    {% for category in site.types %}
    {{ category }}:<br /><br />

    {% for page in site.pages %}{% if page.category == category %}
        {% if category == 'interview' %}
            {{ page.interviewee }} &#8212; {{ page.interviewer }}<br />
        {% else %}
            {{ page.title }} by {{ page.author }}<br />
        {% endif %}

    {% endif %}{% endfor %}

    <br /><br />

    {% endfor %}
</div>

<div id="content">

    {% for category in site.types %}
    {% for page in site.pages %}{% if page.category == category %}

    <a href="{{ site.baseurl }}{{ page.url }}">{{page.title}}</a><br />

    {% endif %}{% endfor %}
    {% endfor %}

</div>
