---
layout: default
title: HTML Output
---


<style>
  {% for page in site.pages %}{% if page.category == 'interview' %}
    [data-interviewee="{{page.interviewee}}"] .interview-a:before {
      content: '{{ page.interviewee_initials }}  ';
    }
    [data-interviewee="{{page.interviewee}}"] .interview-q:before {
      content: '{{ page.interviewer_initials }}  ';
    }
  {% endif %}{% endfor %}
</style>

<nav>
  <h1>{{ page.title }}</h1>

</nav>

<div class="content">
  {% for category in site.types %}

    <div class="posts">
      <h2 class="cat-name">{{ category }}</h2>

      {% for page in site.pages %}{% if page.category == category %}

          <div class="item">
            {% if category == 'interview' %}
              <a href="{{ site.baseurl }}{{ page.url }}">
                {{ page.title }}
              </a>

              <div class="author">{{ page.interviewee }} — {{ page.interviewer }}</div>

              <!-- <blockquote>
                “You will find that punch cutters would take a lot of liberty in interpreting the drawings, in order to make type work in the technology involved.”
              </blockquote> -->

            {% else %}
              <a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a>
              <div class="author">{{ page.author }}</div>
            {% endif %}


            <figure>
            {% if page.thumb %}
              <img src="{{ site.baseurl }}img/{{post.thumb}}">
            {% endif %}
            </figure>
          </div>

        {% endif %}{% endfor %}
    </div>
    <div class="newpage"></div>
  {% endfor %}

</div>


<a href="{{ site.baseurl }}/book" class="print-btn">
  &#8984; P
</a>

{% for page in site.pages %}{% if page.content and page.category %}

  {% case page.category %}

  {% when 'interview' %}

  <div class="page" id="{{ page.title }}">

  <!--  <script>

      $(this > ".interview-a:before").css( "content",
            "'{{ page.interviewee_initials }}   '");
      $(this > ".interview-q:before").css( "content",
            "'{{ page.interviewer_initials }}   '");

    </script> -->

    <h1>{{ page.title }}</h1>

        <div class="meta">
            Author: {{ page.author }}<br />
            Category: {{ page.category }}<br />
            Description: {{ page.description }}<br />
        </div>
    
        <div class="content" data-interviewee="{{ page.interviewee }}">
          {{ page.content }}
        </div>


  </div>

  {% else %}

  <div class="page" id="{{ page.title }}">
      
      <h1>{{ page.title }}</h1>

    <div class="meta">
      <p>Author: {{ page.author }}</p>
      <p>Category: {{ page.category }}</p>
      <p>Description: {{ page.description }}</p>
    </div>

    <div class="content">
      {{ page.content }}
    </div>

  </div>
  
  {% endcase %}



{% endif %}
    <img src="http://placekitten.com/1500/800" style="margin-top:200px; margin-bottom: 200px; margin-left: 0px; width: 100%; height: auto;">

{% endfor %}
