

/* CSS Document */
body {
  font-family: 'Ubuntu Mono', sans-serif; 
  font-size:1.25em; }

ul{list-style:none;}
li{list-style:none; list-style-type:none;}
img {border:none;}
.ar{font-family:Arial, Helvetica, sans-serif;}
.small{font-family:Arial, Helvetica, sans-serif; font-size:7px;}
.kor_small{font-family:Arial, Helvetica, sans-serif; font-size:7px;}

#about{position:absolute; left:400px; top:250px; z-index:100 }

#name{
 position:fixed;
   left:20px;
  text-align:center;
  color: #ff0033;
  opacity:0.2;
  z-index:100;
  font-size:20em;
}

#footer {
 position:fixed;
  text-align:left;
  font-size:18px;
  color: #ffffff;
  background-color:black;
  z-index:100;
-webkit-transform:rotate(90deg);
}

#quest{
  position:relative;
  left:20px;
  text-align:left;
  top:10px;
  font-size:50px;
  color: #000000;
  opacity:0.6;
  z-index:200;

}
#answer{
  position:relative;
  left:40px;
  right:40px;
  text-align:left;
  top:10px;
  padding:10px 10px;
  font-size:18px;
   color: #000000;
  background-color:aqua;
  .highlightme { background-color:#990000;
  opacity:1.0;
  z-index:200;
}


