<!DOCTYPE html>
<html class="_book _guides">
  <head>
    <meta charset="utf-8">
    <title>Print testing setup</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="//cloud.webtype.com/css/422a9116-3c4c-4a87-8994-557df8ada6b9.css" rel="stylesheet" type="text/css" />
    <link href="//cloud.webtype.com/css/e330b60f-ce51-46d6-b8d4-1272865422fb.css" rel="stylesheet" type="text/css" />
    <link href="//cloud.webtype.com/css/e808a380-c942-4cb0-b7ba-fc7a755d85f9.css" rel="stylesheet" type="text/css" />
    <link href="//cloud.webtype.com/css/30d3bb54-2826-4d0a-af4b-6629e5dd58b1.css" rel="stylesheet" type="text/css" />
    <link href="//cloud.webtype.com/css/e573bdaf-4428-42af-a427-9cc650bb1895.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="{{ site.baseurl }}/css/type/type.css" type="text/css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css" type="text/css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/book.css" type="text/css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/book-ui.css" type="text/css">

    <script src="http://code.jquery.com/jquery-latest.js"></script>
  </head>
  <body>


  <nav class="print-nav">
    <div style="float: right">
        Functions (danger!): 
        <button class="toggle-btn" id="trimpages">Trim extra pages from end</button>
        <button class="toggle-btn" id="fixbleeds">Full bleed fix</button>
    </div>
    <span style="display:inline; letter-spacing: 1px; text-transform: uppercase; margin-right: 1em;">bookyll v0.1</span>
    <label><input id="toggleguides" type="checkbox" checked /> Show guides</label>
    <span id="status" style="display:inline; margin-left: 1em; color: blue;">
        <!--<img style="width:16px; height: 16px; margin: -4px 5px; vertical-align: middle" src="http://www.animatedgif.net/bookscalendars/anim0019-1_e0.gif"/> -->
        Making book...
        <progress id="progbar" value="0" max="1"></progress>
    </span>

  </nav>

  <div class="temp spacer"></div>
<!--

We're using a polyfill for CSS Regions.

It takes the continuous steam of content from content-source,
and then send it through the regions in content-region (which
represent individual printed pages.)

-->
        <div class="_book-content content-source">
            {{ content }}
        </div>
        <!--

Because of how CSS Regions works, we can't tell how many
pages will be necessary. Right now I'm just creating 100
to start out. If this polyfill works out, we can
experiment with adding/removing them dynamically

-->


        <div class="_book-pages">
            {% for num in (1...250) %}
                <div class="page-outer {% cycle 'page-side': '_recto', '_verso' %}" data-page="{{ num }}">
                    <div class="content-region page-inner">
                        <!-- all content will be in this div for each page -->
                    </div>
                    <header>
                        HTML Output
                    </header>
                    <footer>
                        {{ num }}
                    </footer>
                    <footnotes>
                    </footnotes>
                </div>
            {% endfor %}
        </div>

        <script type="text/javascript" src="{{ site.baseurl }}/script/imagesloaded.pkgd.js"></script>
        <script type="text/javascript" src="{{ site.baseurl }}/script/book.js"></script>
        <script type="text/javascript" src="{{ site.baseurl }}/script/cssregions.js"></script>

    </body>
</html>
