<!DOCTYPE html>
<html class="_book _guides _notsplityet">
  <head>
    <meta charset="utf-8">
    <title>Print testing setup</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Scout -->
   <link href="//cloud.webtype.com/css/e573bdaf-4428-42af-a427-9cc650bb1895.css" rel="stylesheet" type="text/css" />

   <!-- Benton -->
   <link href="//cloud.webtype.com/css/e330b60f-ce51-46d6-b8d4-1272865422fb.css" rel="stylesheet" type="text/css" />

   <!-- Source Code Pro (code snippets) -->
   <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,500,600,700,900' rel='stylesheet' type='text/css'>

   <!-- CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/type/type.css" type="text/css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css" type="text/css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/book.css" type="text/css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/book-ui.css" type="text/css">

    <!-- CODEMIRROR (For syntax highlighting) -->
    <link rel="stylesheet" href="{{ site.baseurl }}/script/cm4/lib/codemirror.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/script/cm4/theme.css">


    <!-- Script -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/script/jquery.js"></script>

  </head>
  <body>


  <nav class="print-nav">
    <!--Functions (danger!):
    <div style="float: right">
        <button class="toggle-btn" id="restyle">Refresh CSS</button>
        <button class="toggle-btn" id="trimpages">Trim extra pages from end</button>
        <button class="toggle-btn" id="fixbleeds">Full bleed fix</button>
        <button class="toggle-btn" id="postproc">Post-process</button>
    </div> -->
    <span style="display:inline; letter-spacing: 1px; text-transform: uppercase; margin-right: 1em;">bindery.js</span>

    <span id="postProcessControls" style="display: none;">
        <label><input id="toggleguides" type="checkbox" checked />Show bleed</label> &nbsp;&nbsp;&nbsp;
        <label><input id="togglecrop" type="checkbox" /> Crop marks</label>
        <span id="status" style="display:inline; margin-left: 1em; color: blue;">
        <!--<img style="width:16px; height: 16px; margin: -4px 5px; vertical-align: middle" src="http://www.animatedgif.net/bookscalendars/anim0019-1_e0.gif"/> -->
            Making book...
        </span>
        <progress id="progbar" value="0" max="1"></progress>
    </span>
    <button class="toggle-btn" id="regionize" disabled>Make book</button>

  </nav>


  <div class="temp spacer"></div>
<!--

We're using a polyfill for CSS Regions.

It takes the continuous steam of content from content-source,
and then send it through the regions in content-region (which
represent individual printed pages.)

-->
        <div class="_book-content content-source">
            {{ content }}
        </div>
        <!--

Because of how CSS Regions works, we can't tell how many
pages will be necessary. Right now I'm just creating 250
to start out. If this polyfill works out, we can
experiment with adding/removing them dynamically

-->


        <div class="_book-pages">
            {% for num in (1...500) %}
                <div class="page-outer {% cycle 'page-side': '_recto', '_verso' %}" data-page="{{ num }}">
                    <div class="content-region page-inner">
                        <!-- all content will be in this div for each page -->
                    </div>

                    <header class="_running-head">
                        <div class="_book-name">
                            HTML Output
                        </div>
                        <div class="_section">

                        </div>
                        <div class="_pagenum">
                            {{ num }}
                        </div>
                        <div class="_footer">

                        </div>
                    </header>


                </div>
            {% endfor %}
        </div>

        <!-- CODEMIRROR (For syntax highlighting) -->
        <script src="{{ site.baseurl }}/script/cm4/lib/codemirror.js"></script>
        <script src="{{ site.baseurl }}/script/cm4/addon/runmode/runmode.js"></script>
        <script src="{{ site.baseurl }}/script/cm4/mode/xml/xml.js"></script>
        <script src="{{ site.baseurl }}/script/cm4/mode/javascript/javascript.js"></script>
        <script src="{{ site.baseurl }}/script/cm4/mode/css/css.js"></script>

        <!-- SCRIPTS -->

        <script type="text/javascript" src="{{ site.baseurl }}/script/imagesloaded.pkgd.js"></script>
        <script type="text/javascript" src="{{ site.baseurl }}/script/book.js"></script>
        <script type="text/javascript" src="{{ site.baseurl }}/script/cssregions.js"></script>

    </body>
</html>
