<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="//cloud.webtype.com/css/422a9116-3c4c-4a87-8994-557df8ada6b9.css" rel="stylesheet" type="text/css" />
        <link href="//cloud.webtype.com/css/e330b60f-ce51-46d6-b8d4-1272865422fb.css" rel="stylesheet" type="text/css" />
        <link href="//cloud.webtype.com/css/e808a380-c942-4cb0-b7ba-fc7a755d85f9.css" rel="stylesheet" type="text/css" />
        <link href="//cloud.webtype.com/css/30d3bb54-2826-4d0a-af4b-6629e5dd58b1.css" rel="stylesheet" type="text/css" />
        <link href="//cloud.webtype.com/css/e573bdaf-4428-42af-a427-9cc650bb1895.css" rel="stylesheet" type="text/css" />
        <link href="{{ site.baseurl }}/css/webtype.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="{{ site.baseurl }}/css/type/type.css"  type="text/css">
        <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css" type="text/css">
        <link rel="stylesheet" href="{{ site.baseurl }}/css/web.css" type="text/css">



        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script type="text/javascript" src="{{ site.baseurl }}/script/jquery.js"></script>
        <script type="text/javascript" src="{{ site.baseurl }}/script/web.js"></script>
    </head>


    <body>

        {% include nav.html %}

        <div class="wrapper code">

        <img class="icon" src="icon.png">

        <div class="title">
            <h2>{{ page.title }}</h2>
            <div>{{ page.description }}</div>
            <h4>by {{ page.author }}</h4>
            <hr class="dg1">
            <a href="{{ page.github }}"><h4>fork this on github</h4></a>
            <hr>
        </div>

        {{ content }}

    </div>


    {% include more-code.html %}


        <div class="footer">
            <hr class="dg1">
            <a href="/">Index</a>
       </div>


    <!-- CODEMIRROR (For syntax highlighting) -->
    <link rel="stylesheet" href="{{ site.baseurl }}/script/cm4/theme.css">

    <script src="{{ site.baseurl }}/script/cm4/lib/codemirror.js"></script>
    <script src="{{ site.baseurl }}/script/cm4/addon/runmode/runmode.js"></script>
    <script src="{{ site.baseurl }}/script/cm4/mode/xml/xml.js"></script>
    <script src="{{ site.baseurl }}/script/cm4/mode/javascript/javascript.js"></script>
    <script src="{{ site.baseurl }}/script/cm4/mode/css/css.js"></script>

    <script>
      var snippets = document.querySelectorAll(".snippet");
      for (var i = 0; i < snippets.length; i++) {
        var snip = snippets[i];
        var ext = snip.getAttribute("data-mode");
        var mode = getMode(ext);
        var txt = snip.value;
        var insertNode = document.createElement("pre");
        insertNode.className = "snippet-ready cm-s-loop-light cm-mode-" + ext;

        $(insertNode).insertAfter(snip);
        $(snip).remove();

        CodeMirror.runMode(txt, mode, insertNode);
      }
      function getMode(ext) {
        if (ext == "html") return "text/html";
        else if (ext == "css") return ext;
        else if (ext == "scss") return "text/x-scss";
        else if (ext == "styl") return "text/x-scss";
        else if (ext == "md") return "text/x-markdown";
        else if (ext == "js") return "javascript";
      };
    </script>
</body>
</html>

</html>
