<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/type/type.css"  type="text/css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css" type="text/css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/web.css" type="text/css">
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  </head>
  <body>
    {{ content }}
  </body>
</html>
