<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ site.baseurl }}/css/type/type.css"  type="text/css">
        <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css" type="text/css">
        <style>

            *{
                margin: 0;
                padding: 0;
            }

            #output_banner{
                width: 100%;
                background: white;
                height: 2pc;
                position: fixed;
                left: 0;
                top: 2pc;
                box-shadow: 0pt 2pt 2pt black;
                z-index: 4;
            }

        </style>

    </head>
    <body>
        <a href="/{{ site.baseurl }}">< Index</a>

        <div id="output_banner">HTML OUTPUT</div>
        <h1>{{page.title }}</h1>
        {{ content }}

        <!--{% include stuff.html %} -->

    </body>
</html>
