<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ site.baseurl }}/css/type/type.css"  type="text/css">
        <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css" type="text/css">
        <link rel="stylesheet" href="{{ site.baseurl }}/css/web.css" type="text/css">
        <link rel="stylesheet" href="{{ site.baseurl }}/css/book-ui.css" type="text/css">
        <link href="//cloud.webtype.com/css/422a9116-3c4c-4a87-8994-557df8ada6b9.css" rel="stylesheet" type="text/css" />
        <link href="//cloud.webtype.com/css/e330b60f-ce51-46d6-b8d4-1272865422fb.css" rel="stylesheet" type="text/css" />
        <link href="//cloud.webtype.com/css/e808a380-c942-4cb0-b7ba-fc7a755d85f9.css" rel="stylesheet" type="text/css" />
        <link href="//cloud.webtype.com/css/30d3bb54-2826-4d0a-af4b-6629e5dd58b1.css" rel="stylesheet" type="text/css" />
        <link href="//cloud.webtype.com/css/e573bdaf-4428-42af-a427-9cc650bb1895.css" rel="stylesheet" type="text/css" />
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="{{ site.baseurl }}/script/jquery.js"></script>
        <script type="text/javascript" src="{{ site.baseurl }}/script/toc.js"></script>

        <script>

            $(document).ready(function() {

                $(document).scroll(function() {

                    var scroll = $(document).scrollTop();

                    var fun = Math.abs(Math.floor(80+90*Math.sin((scroll-400) * .005)));
                    var fun2 = Math.abs(100+Math.floor(80+90*Math.sin((scroll-400) * .005)));
                    var fun3 = Math.floor(80+90*Math.sin((scroll-400) * .005));

                    $(".cls").css("border-right", fun + "px solid transparent");
                    $(".cls").css("border-left", fun2 + "px solid transparent");
                });

            });

    </script>

    </head>
    <body>
        {% include nav.html %}

        {% include intro.html %}

        {{ content }}
    </body>
</html>
